---
import Container from "@/components/elements/Container.astro";
import TitleColor from "@/components/elements/TitleColor.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Bienvenidos a HRissan">
  <main
    class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden"
    id="articles"
  >
    <Container className="space-y-10 md:sapce-y-12 p-28 text-center">
      <TitleColor className="text-4xl"> Próximamente... </TitleColor>
    </Container>
  </main>
</Layout>
