---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutUs from '@/components/AboutUs.astro';

---

<Layout title="Bienvenidos a HRissan">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Hero/>
		<AboutUs/>
	</main>
</Layout>