---
import Container from "@/components/elements/Container.astro";
import ContentItem from "@/components/elements/ContentItem.astro";
import Paragraph from "@/components/elements/Paragraph.astro";
import Title from "@/components/elements/Title.astro";
import Services from "@/components/Services.astro";
import Layout from "../layouts/Layout.astro";

const content = [
    {
        title: "Introducción al concepto⁣",
        description:
            "Se aborda la importancia del análisis de personas en la gestión organizacional.",
    },
    {
        title: "Relación de los datos con la toma de decisiones⁣",
        description:
            "El enfoque se centra en cómo construir una cultura organizacional impulsada por los datos y los beneficios que aporta.",
    },
    {
        title: "Tipos de análisis⁣",
        description:
            "Explicación de los diferentes tipos de análisis y métricas clave de rendimiento (KPIs) utilizados en HR.",
    },
    {
        title: "Importancia de la visualización de datos⁣",
        description:
            "Se subraya cómo la visualización efectiva de los datos es esencial para una comunicación clara.",
    },
    {
        title: "Herramientas recomendadas",
        description:
            "Se mencionan herramientas prácticas para implementar el análisis de personas en HR.",
    },
    {
        title: "Casos prácticos",
        description:
            "Aplicaciones del People Analytics en procesos reales de HR.⁣",
    },
];
---

<Layout title="Bienvenidos a HRissan">
    <main
        class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden"
        id="careerHR"
    >
        <Container className="space-y-10 md:sapce-y-12 p-28">
            <Services />
            <Container
                className="w-full mx-auto container lg:max-w-4xl md:max-w-2xl"
            >
                <Title
                    >People Analytics: Transformando datos en decisiones
                    inteligentes</Title
                >
                <Paragraph
                    >¿Te imaginas poder predecir el comportamiento de tu equipo
                    y mejorar la toma de decisiones estratégicas solo con datos?
                    ¡Eso es People Analytics! Pasá de la intuición a una gestión
                    de personas basada en métricas claras, con herramientas que
                    te ayudarán a visualizar el presente y construir el futuro
                    de tu organización.</Paragraph
                >
                <ol class="relative mt-16">
                    {
                        content.map((cont) => (
                            <li class="">
                                <ContentItem {...cont} />
                            </li>
                        ))
                    }
                </ol>
            </Container>
        </Container>
    </main>
</Layout>
