---
import { basics } from "datos.json";
import Container from "./elements/Container.astro";
import Info from "./elements/Info.astro";
import Paragraph from "./elements/Paragraph.astro";
import Title from "./elements/Title.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<section id="about-us">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-400 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-red-200 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <img
          src={basics.imageGB}
          alt="Foto de Perfil de Guido y Brian"
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
        />
        <div class="absolute bottom-0 left-0 right-0 h-1/3 bg-gradient-to-t from-transparent via-transparent to-transparent"></div>
      </div>
    </div>
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>¿Quiénes somos?</Title>
      <Paragraph className="mt-8">
        Somos <b class="text-red-400">Guido y Brian,</b> dos amigos apasionados por <b class="text-red-400">HR, la tecnología y los datos</b>.
        Estamos convencidos que el futuro (¡ya presente!) de HR tiene mucho potencial y por eso
        decidimos crear <strong><span class="underline">HR</span><span class="text-red-400">issan</span></strong> para acompañar este cambio.
      </Paragraph>
      <Paragraph className="mt-8 text-center"><b>¿Te sumas a nuestro viaje? </b>🧑‍🚀</Paragraph>
      <div
        class="pt-8 grid grid-cols-2 items-center gap-4 max-w-3xl md:max-w-[none]"
      >
      <Info
      description="Visita mi perfil de LinkedIn"
      title="Guido Risso"
      urlLinkedin={basics.urlLinGuido}
    >
      <span slot="icon">
        <LinkedIn></LinkedIn>
      </span>
    </Info>
    <Info
    description="Visita mi perfil de LinkedIn"
    title="Brian Andersen"
    urlLinkedin={basics.urlLinBrian}
  >
    <span slot="icon">
      <LinkedIn></LinkedIn>
    </span>
  </Info>
      </div>
    </div>
  </Container>
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12 mt-8">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <Title>Un poco sobre nuestros objetivos...</Title>
      <Paragraph className="mt-8">
        Queremos crear una <b class="text-red-400">nueva forma de aprendizaje,</b> donde profesionales de HR sepan usar y promover la <b class="text-red-400">tecnología 
          optimizando procesos y automatizando tareas.</b>
      </Paragraph>
      <Paragraph className="mt-2">
        Aprendiendo a través de cápsulas de alto impacto, mayoritariamente prácticas, gemificadas y fácil de trasladar a tu día a día.
      </Paragraph>
    </div>

    <div
      class="max-w-md mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
    >
      <div class="w-full h-80 sm:h-96 midmd:h-full relative">
        <div
          class="absolute rotate-45 -left-5 md:-left-10 lg:-left-20 xl:-left-24 p-1 top-1/2 w-16 h-16 bg-gradient-to-br from-primary to-orange-400 blur-3xl opacity-50"
        >
        </div>
        <div
          class="absolute p-1 -top-4 md:-top-10 right-0 w-20 h-20 bg-gradient-to-br from-primary to-orange-200 rounded-full blur-3xl opacity-60"
        >
        </div>

        <span
          class="absolute w-full aspect-[16/5] -skew-x-12 rounded-full bg-gradient-to-tr from-primary to-red-200 opacity-40 blur-2xl left-0 bottom-0"
        ></span>
        <img
          src={basics.image}
          alt="Foto de Perfil de Brian"
          width="1240"
          height="1385"
          class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
        />
      </div>
    </div>
  </Container>
</section>
