---
import { blog } from "datos.json";
import Container from "./elements/Container.astro";
import ContainerBlog from "./elements/ContainerBlog.astro";
import Paragraph from "./elements/Paragraph.astro";
import Title from "./elements/Title.astro";


type ServicesProps = {
    title: string;
    description: string;
    icon: string
};

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Blog
            </Title>
            <Paragraph>
                Te ofrecemos mucho contenido sobre HR.
            </Paragraph>
        </div>
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">
            {
                    blog.map((blog) => {
                    return (
                            <ContainerBlog title={blog.title} description={blog.description} image={blog.image}>
                            </ContainerBlog>
                            );
                    })
            }
        </div>
    </Container>
</section>