---
import Title from "@/components/elements/Title.astro";
---

<section>
  <div
    class="w-full max-w-3xl mx-auto px-4 py-8 flex flex-col items-center bg-gray-900 rounded-md text-center sm:px-12 sm:py-14"
  >
  <Title className="text-3xl lg:text-4xl text-center mb-10 "> Suscribite a nuestro newsletter </Title>
    <iframe
      src="https://hrissan.substack.com/embed"
      class="rounded-md"
      width="100%"
      height="500"
      style=""
    >
    </iframe>
  </div>
</section>
