---
export interface Props{
    className?:string
    children: any;
}

const {className, children} = Astro.props
---


<h1 class={`text-heading-1 font-semibold ${className}`}>
 <slot>{children}</slot> 
</h1>